@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(../../node_modules/font-awesome/css/font-awesome.css);
.cp-header {
  height: 85px;
  background-color: #2e3d49;
  margin-bottom: 25px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .cp-header div {
    height: inherit; }
  .cp-header .logo {
    margin-left: 30px;
    height: inherit; }

.cp-home {
  height: inherit; }
  .cp-home .post-list {
    max-height: 432px;
    overflow-x: auto; }
  .cp-home .post-details {
    height: 417px; }
  .cp-home .post-container {
    border: 1px solid #4f687d;
    border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 15px;
    margin: 10px 0px;
    min-height: 50%; }
    .cp-home .post-container .posts {
      overflow-x: auto;
      height: 100%; }
    .cp-home .post-container .comments {
      border: 1px solid #4f687d;
      height: 100%;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 2px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .cp-home .open-search {
    position: fixed;
    right: 25px;
    bottom: 25px; }
    .cp-home .open-search:hover {
      cursor: pointer;
      box-shadow: 0 2px 30px #f95c3c, 0 0px 0px #f95c3c;
      border-radius: 50%; }
    .cp-home .open-search a {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #4f687d;
      background-image: url("../assets/add.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 28px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      font-size: 0; }

.cp-post .selected {
  cursor: default !important;
  outline: none !important;
  border-color: #02B3E4 !important;
  box-shadow: 0 0 10px #02B3E4 !important; }

.cp-post .card {
  border: 1px solid #4f687d;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 5px;
  margin-top: 10px;
  color: #FFFFFF;
  background: #2e3d49;
  height: 65px; }
  .cp-post .card .colorful {
    color: #4f687d; }
  .cp-post .card:hover {
    cursor: pointer;
    box-shadow: 0 0px 0px #02B3E4, 0 0px 0px #02B3E4; }

.cp-category .selected {
  cursor: default !important;
  outline: none !important;
  border-color: #f95c3c !important;
  box-shadow: 0 0 10px #f95c3c !important; }

.cp-category .card {
  height: 100px;
  border: 1px solid #4f687d;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  background-color: #2e3d49; }
  .cp-category .card:hover {
    cursor: pointer;
    box-shadow: 0 0px 0px #f95c3c, 0 0px 0px #f95c3c; }

.cp-menu .selected {
  cursor: default !important;
  outline: none !important;
  border-color: #f95c3c !important;
  box-shadow: 0 0 10px #f95c3c !important; }

.cp-menu .button {
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  border: 1px solid #4f687d;
  color: #FFFFFF;
  padding: 3px; }
  .cp-menu .button:hover {
    cursor: pointer;
    box-shadow: 0 0px 0px #f95c3c, 0 0px 0px #f95c3c; }

.cp-post-details .details {
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #4f687d;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 15px;
  margin: 10px 0px;
  min-height: 50%; }
  .cp-post-details .details .title {
    border-bottom: 2px solid #50687d; }
  .cp-post-details .details .author {
    color: #4f687d;
    font-size: 10px; }

.cp-post-details .menu {
  margin-top: 10px; }
  .cp-post-details .menu .item {
    text-align: center;
    color: #4f687d;
    border: 1px solid #4f687d;
    border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 20px; }
    .cp-post-details .menu .item:hover {
      cursor: pointer;
      box-shadow: 0 0px 0px #f95c3c, 0 0px 0px #f95c3c; }

.post-form .selected {
  cursor: default !important;
  outline: none !important;
  border-color: #f95c3c !important;
  box-shadow: 0 0 10px #f95c3c !important; }

.post-form .card {
  height: 50px;
  border: 1px solid #4f687d;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  background-color: #2e3d49; }
  .post-form .card:hover {
    cursor: pointer;
    box-shadow: 0 0px 0px #f95c3c, 0 0px 0px #f95c3c; }

.modal-body input {
  border: 1px solid #4f687d;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 0.25rem;
  background-color: #2e3d49;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #FFFFFF;
  padding-left: 10px;
  width: 100%; }
  .modal-body input:focus {
    outline: none; }

.modal-body textarea {
  border: 1px solid #4f687d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0.25rem;
  background-color: #2e3d49;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: white;
  padding-left: 10px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 68px; }
  .modal-body textarea:focus {
    outline: none; }

.modal-body button {
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  border: 1px solid #4f687d;
  color: #FFFFFF;
  background-color: #2e3d49;
  color: white; }
  .modal-body button:focus {
    outline: none; }
  .modal-body button:hover {
    cursor: pointer;
    box-shadow: 0 0px 0px #f95c3c, 0 0px 0px #f95c3c; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #2e3d49; }

.shadow {
  /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
  -webkit-filter: drop-shadow(-5px -5px 5px #000);
  filter: drop-shadow(-5px -5px 5px #000); }

.modal-header {
  border-bottom: 1px solid #4f687d; }
  .modal-header .close {
    color: white; }

.modal-footer {
  border-top: 1px solid #4f687d; }

.modal-content {
  color: #FFFFFF;
  border: 2px solid #4f687d;
  background-color: #2e3d49; }
