.cp-post-details {

    .details {
        text-align: center;
        color: $color-white;
        border: 1px solid $color-blue-bayoux;
        border-radius: 2px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        padding: 15px;
        margin: 10px 0px;
        min-height: 50%;

        .title {
            border-bottom: 2px solid #50687d;
        }

        .author {
            color: $color-blue-bayoux;
            font-size: 10px;
        }
    }

    .menu {
        margin-top: 10px;

        .item {
            text-align: center;
            color: $color-blue-bayoux;
            border: 1px solid $color-blue-bayoux;
            border-radius: 20px;
            margin-bottom: 20px;

            &:active {
                background: $color-blue-bayoux;
                color: $color-oxford-blue;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .comments-content {
        max-height: 250px;
        overflow-x: auto;
    }
}
